   <div class="max-w-6xl h-screen bg-gray-100 shadow-lg mx-auto px-4">
    <div class="pt-8">
      <h1 class="text-center text-xl font-bold uppercase">
        <span class="font-bold text-blue-400 uppercase">{{accounts.accountholdername}}</span>
        ACCOUNT Information
      </h1>
    </div>
  
    <div class="bg-blue-100 shadow-lg w-full max-w-md mx-auto mt-8 p-6 rounded-lg">
      <div class="mb-4 flex justify-between">
        <label class="font-semibold">ID</label>
        <h5 class="text-gray-700">{{accounts.id}}</h5>
      </div>
      <div class="mb-4 flex justify-between">
        <label class="font-semibold">Account Holder Name</label>
        <h5 class="text-gray-700">{{accounts.accountholdername}}</h5>
      </div>
      <div class="mb-4 flex justify-between">
        <label class="font-semibold">Balance</label>
        <h5 class="text-gray-700">{{accounts.balance}}</h5>
      </div>
      <div class="mb-4 flex justify-between">
        <label class="font-semibold">Admin</label>
        <h5 class="text-gray-700">{{accounts.createBy}}</h5>
      </div>
      <div class="mb-4 flex justify-between">
        <label class="font-semibold">Update Date</label>
        <h5 class="text-gray-700">{{accounts.createOn}}</h5>
      </div>

    </div>
    <div class="text-center justify-center mt-8"><button class="px-8 py-3 text-white bg-green-400 rounded-lg shadow-lg" (click)="backpage()">HOME</button></div>
  </div>
  